@page "/awards/{IsPlayMusic:bool}"

<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100 main-menu">

    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

    <h1>Awards</h1>

    <ul class="award-container m-2">
        <li class="award @awardClass[0]">
            Complete all main 5 planets
        </li>
        <li class="award @awardClass[1]">
            Complete extra planets
        </li>
        <li class="award @awardClass[2]">
            Complete extra planets
        </li>
        <li class="award @awardClass[3]">
            Unlock all space cats and space rats
        </li>
    </ul>

    <NavLink href="@($"/{IsPlayMusic}")" class="cursor-pointer">
        <Button Text="Back">
        </Button>
    </NavLink>
</div>

<MusicPlayer Track="Wallpaper" PlayMusic="IsPlayMusic" />

@code {
    [Parameter]
    public bool IsPlayMusic { get; set; }

    List<bool> awardActive;
    List<string> awardClass = new List<string>();
    string gainedAward = "gained";


    string rootpath = Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "wwwroot");

    public Awards()
    {
        using (StreamReader r = new StreamReader(rootpath + "/database/awards.json"))
        {
            string json = r.ReadToEnd();
            var awardsTemp = JsonConvert.DeserializeObject<List<bool>>(json);
            awardActive = awardsTemp;
        }

        for(int i = 0; i < awardActive.Count; i++)
        {
            if (awardActive[i])
            {
                awardClass.Add(gainedAward);
            }
            else
            {
                awardClass.Add("");
            }
        }
    }
}
